html {
  scroll-behavior: smooth;
}

html,
body,
#__next {
  min-height: 100vh;
  margin: 0;
}
body {
  background: #0a0a0c;
  color: #fff;
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('/static/fonts/roboto-v18-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/static/fonts/roboto-v18-latin-300.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('/static/fonts/roboto-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/static/fonts/roboto-v18-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('/static/fonts/roboto-v18-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/static/fonts/roboto-v18-latin-500.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c4b998;
  border: 1px solid rgba(224, 136, 33, 0.117647);
  border-radius: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background: #937341;
}

::-webkit-scrollbar-thumb:active {
  background: #937341;
}

::-webkit-scrollbar-track {
  background: #0e0e0e;
  border: 56px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #0e0e0e;
}

::-webkit-scrollbar-track:active {
  background: #0e0e0e;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
